<!DOCTYPE html>
<html>
  <head>
    <title>Cody Condon - Front End Developer</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

  </body>

</html>
